body{
    background-color: rgb(27, 246, 246);
    text-align: center;
}
.game{
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
h3{
    display: block;
}
.body{
    text-align: center;
    width: 300px;
    height: 300px;
    background-color: aqua;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 0 8px 32px 0 rgba(2, 2, 3, 0.37);
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
    border-radius: 20px;
    border: 1px solid rgba(248, 8, 8, 0.18);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.box{
    text-align: center;
    width: 90px;
    height: 90px;
    background-color: #CCD1D1;
    box-shadow: 0 8px 32px 0 rgba(2, 2, 3, 0.37);
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
    border-radius: 20px;
    border: 1px solid rgba(248, 8, 8, 0.18);
    font-size: 60px;
    padding-bottom: 20px;
    color: rgb(250, 0, 0);
}
.winner{
    height: 60px;
}